
<nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#!">Tickets</a></li>
        <li class="breadcrumb-item active">List</li>
    </ol>
</nav>

<div class="mb-9">
    <div class="row g-3 mb-4">
        <div class="col-auto">
            <h2 class="mb-0">List Tickets</h2>
        </div>
    </div>

    <div id="tickets" data-list=''>
        <div class="mb-4">
            <div class="d-flex flex-wrap gap-3 justify-content-end">
                <div class="search-box">
                    <form class="position-relative">
                        <input class="form-control search-input search" type="search" placeholder="Search tickets" aria-label="Search" id="search-input" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
                <a class="btn btn-primary" id="addBtn" href="/tickets/add">
                    <span class="fas fa-plus me-2"></span>Add Ticket
                </a>
            </div>
        </div>

        <div class="bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
            <div class="col-12 col-xxl-6">
                <div class="row g-3">

                    <% tickets.forEach(ticket => { %>
                        <div class="col-12 col-md-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Ticket <%= ticket.ticketCode %></h5>
                                    <p class="card-text">Subject: <%= ticket.subject %></p>
                                    <p>Status: 
                                        <span class="text-<%= 
                                            ticket.status === 'open' ? 'success' : 
                                            (ticket.status === 'in-progress' ? 'warning' : 
                                            (ticket.status === 'resolved' ? 'primary' : 
                                            'danger')) %>">
                                            <%= ticket.status %>
                                        </span>
                                    </p>
                                    
                                    <p>Priority: 
                                        <span class="text-<%= 
                                            ticket.priority === 'low' ? 'success' : 
                                            (ticket.priority === 'medium' ? 'warning' : 
                                            (ticket.priority === 'high' ? 'orange' : 
                                            'danger')) %>">
                                            <%= ticket.priority %>
                                        </span>
                                    </p>
                                    
                                    <p class="text-muted">Created: <%= new Date(ticket.createdAt).toLocaleDateString() %></p>
                                    
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="/tickets/view/<%= ticket._id %>" class="btn btn-primary">View Details</a>
                                        <% if (user && user.function === 'agent') { %>
                                        <a href="/tickets/edit/<%= ticket._id %>" class="btn btn-secondary">edit</a>
                                        <% } %>
                                        <p class="mb-0">Comments: <span class="fw-bold"><%= ticket.comments.length %></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>
</div>

