<nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#!">Calls</a></li>
        <li class="breadcrumb-item active">List</li>
    </ol>
</nav>

<div class="mb-9">
    <div class="row g-3 mb-4">
        <div class="col-auto">
            <h2 class="mb-0">List of Calls</h2>
        </div>
    </div>

    <% if (success && success.length > 0) { %>
        <div class="alert alert-subtle-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    
    <% if (error && error.length > 0) { %>
        <div class="alert alert-subtle-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <% } %>

    <div id="calls" data-list=''>
        <div class="mb-4">
            <div class="d-flex flex-wrap gap-3 justify-content-end">
                <div class="search-box">
                    <form class="position-relative"><input class="form-control search-input search" type="search"
                            placeholder="Search calls" aria-label="Search" id="search-input" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
                <% if (user && user.function === 'agent') { %>
                <div class="ms-xxl-auto"><a class="btn btn-primary" id="addBtn" href="/calls/add"><span
                    class="fas fa-plus me-2"></span>Add
                call</a></div>
                <% } %>
    </div>
            </div>
        </div>

        <% if (calls.length === 0) { %>
            <h5 class="text-center pt-6">No calls available</h5>
        <% } %> 

        <% if (calls.length > 0) { %> 
            <div
                class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table fs-9 mb-0">
                        <thead>
                            <tr>
                                <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                                    <div class="form-check mb-0 fs-8"><input class="form-check-input"
                                            id="checkbox-bulk-partners-select" type="checkbox"
                                            data-bulk-select='{"body":"roles-table-body"}' /></div>
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-4" scope="col" data-sort="callername" style="width:250px;"
                                    data-sort="partner"> Call code </th>
                                <th class="sort white-space-nowrap align-middle ps-4" scope="col" data-sort="callername" style="width:250px;"
                                    data-sort="partner"> Caller Name </th>
                                <th class="sort align-middle ps-4" scope="col" data-sort="agent" style="width:150px;">Agent</th>
                                <th class="sort align-middle ps-4" scope="col" data-sort="time" style="width:50px;">
                                    PUBLISHED ON</th>
                                <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list" id="products-table-body">
                            <% calls.forEach(call => { %>
                            <tr class="position-static">
                                <td class="fs-9 align-middle">
                                    <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox"
                                            data-bulk-select-row='{"product":"Fitbit Sense Advanced Smartwatch with Tools for Heart Health, Stress Management & Skin Temperature Trends, Carbon/Graphite, One Size (S & L Bands...","productImage":"/products/1.png","price":"$39","category":"Plants","tags":["Health","Exercise","Discipline","Lifestyle","Fitness"],"star":false,"vendor":"Blue Olive Plant sellers. Inc","publishedOn":"Nov 12, 10:45 PM"}' />
                                    </div>
                                </td>
                                <td class="product align-middle ps-4"><%= call.callCode %></td>
                                <td class="product align-middle ps-4"><%= call.callerName %></td>
                                <td class="product align-middle ps-4"><%= call.agentId.name %></td>
                               
                                <td class="time align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4">
                                    <%= call.date.toLocaleString() %></td>
                                <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger">
                                    <div class="btn-reveal-trigger position-static"><button
                                            class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10"
                                            type="button" data-bs-toggle="dropdown" data-boundary="window"
                                            aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span
                                                class="fas fa-ellipsis-h fs-10"></span></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"
                                                href="calls/view/<%= call._id %>">View</a>
                                                <% if (user && user.function === 'agent') { %>
                                                <a class="dropdown-item"
                                               href="calls/edit/<%= call._id %>">Edit</a>

                                            <!-- <div class="dropdown-divider"></div><a class="dropdown-item text-danger remove-agent"
                                                href="#!" data-agent-id="">Remove</a> -->
                                                <% } %>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
    
                        </tbody>
                        
                    </table>
                </div>
                <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a
                            class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1"
                                data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!"
                            data-list-view="less">View Less<span class="fas fa-angle-right ms-1"
                                data-fa-transform="down-1"></span></a>
                    </div>
                    <div class="col-auto d-flex"><button class="page-link" data-list-pagination="prev"><span
                                class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span
                                class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
</div>
